name: UiPath CI/CD Pipeline

on:
  push:
    branches: [ main ] # Se ejecuta cada vez que subes algo a main

jobs:
  build:
    runs-on: windows-latest # Importante: UiPath requiere Windows para compilar
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
      
      - name: Ejecutar Robot (Simulación de Log)
        run: |
          echo "Iniciando Robot..."
          echo "Hola Mundo desde el Pipeline de GitHub"
          echo "Robot finalizado con éxito."

      # Usamos la acción oficial de UiPath para empaquetar
      # - name: Pack Robot (Compilar)
      #   uses: UiPath/uipath-automation-package@v4
      #   with:
      #     projectJsonPath: 'project.json'
      #     outputPath: 'output'
      #     version: '1.0.${{ github.run_number }}' # Versión automática

      # - name: Guardar el artefacto compilado
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: RobotCompilado
      #     path: output/
  deploy:
    needs: build
    runs-on: windows-latest # Importante: UiPath requiere Windows para compilar
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
      
      - name: Ejecutar Robot (Simulación de Log)
        run: |
          echo "Iniciando Robot..."
          echo "Hola Mundo desde el Pipeline de GitHub"
          echo "Robot finalizado con éxito."