name: UiPath CI/CD Pipeline

on:
  push:
    branches: [ main ] # Se ejecuta cada vez que subes algo a main

jobs:
  build:
    runs-on: windows-latest # Importante: UiPath requiere Windows para compilar
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
      
      - name: Ejecutar Robot (Simulación de Log)
        run: |
          echo "Iniciando Robot..."
          echo "Hola Mundo desde el Pipeline de GitHub"
          echo "Robot finalizado con éxito."

      # Empaquetado (sin acción externa): crear carpeta output y comprimir el proyecto
      - name: Pack Robot (Compilar)
        shell: powershell
        run: |
          $version = "1.0.${{ github.run_number }}"
          if (-Not (Test-Path -Path output)) { New-Item -ItemType Directory -Path output | Out-Null }
          $zipName = "Robot-$($version).zip"
          Compress-Archive -Path * -DestinationPath (Join-Path -Path output -ChildPath $zipName) -Force

      - name: Guardar el artefacto compilado
        uses: actions/upload-artifact@v4
        with:
          name: RobotCompilado
          path: output/
  deploy:
    needs: build
    runs-on: windows-latest # Importante: UiPath requiere Windows para compilar
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
      
      - name: Ejecutar Robot (Simulación de Log)
        run: |
          echo "Iniciando Robot..."
          echo "Hola Mundo desde el Pipeline de GitHub"
          echo "Robot finalizado con éxito."